@import url('https://fonts.googleapis.com/css?family=Montserrat');
* {font-family:'Montserrat';}

body{background: #535353;}
.login fieldset {position: absolute; top:50%; left: 50%; transform: translate(-50%,-50%); width: 50%; height: 50%; text-align: center; background:#F5F5DC; border-color: #F5F5DC;}